
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JqueryWithCookies</title>
    <style type="text/css">
        a {
            font-size: 12px;
            font-family: 'Times New Roman', Times, serif;
            color: black;
            font-weight: 900;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        td {
            text-align: center;
            width: 25%;
            border: 2px solid purple
        }

        tr:nth-child(even) {
            background: #e5e2e2;
        }

        tr:nth-child(odd) {
            background: #f4b6b6;
        }
    </style>
</head>
<body>
    <table border="1">
        <tr>
            <td>
                <a href="https://docs.google.com/document/d/1FMHd6pwqDiU3B2QOSbN8tKKHgkv-1tTH/edit" target="_blank">
                    Jquery with Cookies
                </a>
            </td>
            <td>
                <a href="" target="_blank">
                    xxx
                </a>
            </td>
            <td>
                <a href="" target="_blank">
                    xxx
                </a>
            </td>
            <td>
                <a href="" target="_blank">
                    xxx
                </a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="" target="_blank">
                    xxx
                </a>
            </td>
            <td>
                <a href="" target="_blank">
                    xxx
                </a>
            </td>
            <td>
                <a href="" target="_blank">
                    xxx
                </a>
            </td>
            <td>
                <a href="" target="_blank">
                    xxx
                </a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="" target="_blank">
                    xxx
                </a>
            </td>
            <td>
                <a href="" target="_blank">
                    xxx
                </a>
            </td>
            <td>
                <a href="" target="_blank">
                    xxx
                </a>
            </td>
            <td>
                <a href="" target="_blank">
                    xxx
                </a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="" target="_blank">
                    xxx
                </a>
            </td>
            <td>
                <a href="" target="_blank">
                    xxx
                </a>
            </td>
            <td>
                <a href="" target="_blank">
                    xxx
                </a>
            </td>
            <td>
                <a href="" target="_blank">
                    xxx
                </a>
            </td>
        </tr>
    </table>

</body>
</html>
