
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PressEnterKey</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

    <form id="form1">
        <input type="text" placeholder="inputHere" id="txt1">
        <input type="text" placeholder="inputHere2" id="txt2">
        <input type="button" value="me" id="btn1" />
    </form>

    <script>
        $(document).ready(function () {

            $('#btn1').click(function () {
                alert('Hello...!');
            });

            $('#txt1').keypress(function (e) {
                var key = e.which;
                if (key == 13) // the enter key code
                {
                    alert('Hello...!');
                }
            }).change(function () {
                alert('Hello...on change!');
            });

            $('#txt2').keypress(function (e) {
                var key = e.which;
                if (key == 13) // the enter key code
                {
                    alert('Hello2...!');
                }
            });

        });
    </script>
</body>
</html>
