
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ArrowFunction</title>
    <script type="text/javascript">
    debugger;
        //var hello = print();

        var hello = () => "Hello World!65";


       
       
       function print() {
            return "Hello World!2";
        }

        console.log(hello);
    
    
    </script>


</head>
<body>
</body>
</html>
