
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PracticeA</title>

    <script type="text/javascript">
        // myFunction();
        // function myFunction() {
        //         //Template string
        //        const red=123; const green=11; const blue=233; const a=0.3;
        //        console.log(`rgba(${red},${green},${blue},${a})`);
        // }
        // console.clear();

        // const fullname3=fname=>`fullname : ${fname}`;
        // var namefull = function (fname, lname) {
        //     return "Full Name : " + fname + " " + lname;
        // }

        // const fullName2 = (fname, lname) => {
        //     return `Full Name : ${fname},${lname}`;
        // }

        // console.log(namefull("satya", "kar"));
        // console.log(fullName2("satyabrata", "kar"));
        // console.clear();


        // //rest operatior
        // function sumDynamic(num1,num2,...args)
        // {
        //     let sum = 0;
        //     for(i=0;i<args.length;i++)
        //     {
        //         sum +=args[i];
        //     }
        //     console.log("sum=>"+sum);
        // };
        // sumDynamic(1,2,3,4,5,6);


       
        // //spread operatior

        // var arr1=[1,2,3,4]; var arr2=[5,6,7,8];

        // var obj1={name:"satya"}; var obj2={age:29};

        // console.log( [...arr1,...arr2] );
        // console.log( { ...obj1,...obj2});



        // //destructing
        // var fullName = "Mark johnson stack";
        // var fnameArr = fullName.split(" ");
        // var[fName, ,lName] = fnameArr;
        // console.log(`fullname: ${fName} ${lName}`);


        var stdObject = {
            fName:"satya",
            mName:"brata",
            lName:"Kar"
        }
        var {fName,lName} = stdObject;
        console.log(`fullname: ${fName} ${lName}`);







    </script>


</head>
<body>
</body>
</html>
