
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShortArray</title>

     <script type="text/javascript">
        const _filename = [
            { name:'c175' }
            , { name:'c2c' }
            , { name:'c3d' }
        ];

        const data = [
            { name:'c2c' ,value:'two'}
            ,{ name:'c175',value:'one' }
            , { name:'c3d',value:'three' }
        ];

        const neeData = _filename.map(data.name);
        console.log(neeData);

        



    </script>

</head>
<body>
</body>
</html>
