
@{
    ViewData["Title"] = "Index";
}

<h1>first index</h1>
<li>
    <a asp-controller="Home" asp-action="Index" asp-area="Satya">Blogs index</a>
</li>

<li>
    <a asp-controller="Home" asp-action="Insert" asp-area="Satya">Blogs Insert</a>
</li>
