
@{
    ViewData["Title"] = "Index";
}

<h1>First Index</h1>
@*App*@
<li> <a asp-area="AppDemo" asp-controller="Narnia" asp-action="LoginDemo">App</a> </li>



<li> <a asp-area="Employee" asp-controller="Registration" asp-action="AddNew">Employee</a> </li>
<li> <a asp-area="Blogs" asp-controller="Bangalore" asp-action="KTM">Blogs</a> </li>

@*CSharp*@
<li> <a asp-area="CSharp" asp-controller="CSharpIronMan" asp-action="ReturnWithClass">Return new class</a> </li>


@*Jquery*@
<li> <a asp-area="jquery" asp-controller="JqueryVission" asp-action="JqueryWithCookies">Jquery With Cookies</a> </li>


@*Bootstrap*@
<li> <a asp-area="Bootstrap" asp-controller="BootstrapHulk" asp-action="ModelPopup">Bootstrap</a> </li>
<li> <a asp-area="Bootstrap" asp-controller="BootstrapHulk" asp-action="Accordion">Accordion not working</a> </li>
<li> <a asp-area="Bootstrap" asp-controller="BootstrapHulk" asp-action="Card">Card</a> </li>


@*jquery*@
<li> <a asp-area="jquery" asp-controller="JqueryVission" asp-action="CalenderFormat">Calender format</a> </li>
<li> <a asp-area="jquery" asp-controller="JqueryVission" asp-action="PressEnterKey">Press Enter Key</a> </li>

@*javascript*@
<li> <a asp-area="essix" asp-controller="JavascriptElder" asp-action="PracticeA">Practice A</a> </li>
<li> <a asp-area="essix" asp-controller="JavascriptElder" asp-action="ArrowFunction">Arrow function</a> </li>


@*Home*@
<li> <a asp-controller="Welcome" asp-action="CarEMI">Car EMI</a> </li>


@*DevExpress*@
<li> <a asp-area="DevExpress" asp-controller="DevExpressA" asp-action="DataGrid">Data Grid</a> </li>
<li> <a asp-area="DevExpress" asp-controller="DevExpressA" asp-action="DevExtrimButton">Dev Extrime Button</a> </li>
<li> <a asp-area="DevExpress" asp-controller="DevExpressA" asp-action="DropDown">Dev Extrime DropDown</a> </li>
<li> <a asp-area="DevExpress" asp-controller="DevExpressA" asp-action="Autocomplete">Dev Extrime AutoComplete</a> </li>
<li> <a asp-area="DevExpress" asp-controller="DevExpressA" asp-action="GridView">GridView</a> </li>


@*crud*@
<li> <a asp-controller="Welcome" asp-action="ListOfEmployee">Crud with api</a> </li>
