
@{
    ViewData["Title"] = "Index";
}

<h1>first index</h1>
<li>
    <a asp-controller="Registration" asp-action="AddNew" asp-area="Employee">Employee</a>
</li>

<li>
    <a asp-controller="Bangalore" asp-action="KTM" asp-area="Blogs">Blogs</a>
</li>
<li>
    <a asp-controller="BootstrapHulk" asp-action="ModelPopup" asp-area="Bootstrap">Bootstrap</a>
</li>
