
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Card</title>

    <!--1 bootstrap.min.css-->
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <!--2 jquery.slim.min.js-->
    <script src="Scripts/jquery-3.4.1.slim.min.js"></script>
    <!--3 popper.min.js -->
    <script src="Scripts/popper.min.js"></script>
    <!--4 bootstrap.bundle.min.js-->
    <script src="Scripts/bootstrap.bundle.min.js"></script>
    <!--5 Site.css-->
    <link href="Content/Site.css" rel="stylesheet" />



    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/popper.js"></script>
    <link href="~/css/bootstrap/popup-style.css" rel="stylesheet" />



</head>
<body>
    <div class="container">
        <div class="row">
            <div class="card-deck col-md-3">
                <div class="card ">
                    <div class="card-header">
                        Satyabrata Kar
                    </div>
                    <div class="card-body">
                        yes
                    </div>
                    <div class="card-footer">
                        Submit
                    </div>
                </div>
            </div>
            <div class="card-deck col-md-3">
                <div class="card card-title ">
                    <div class="card-header">
                        Satyabrata Kar
                    </div>
                    <div class="card-body">
                        yes
                    </div>
                    <div class="card-footer">
                        Submit
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>
</html>
