@{
    ViewData["Title"] = "DevExtrimButton";
    Layout = "~/Views/Shared/_ExtrimeLayout.cshtml";
}


<div class="row">
    <div class="col-md-3">

        <div id="btnSave"></div>

    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSave').dxButton({
        text:"click me",
        onClick: function () {
            alert('Hello world!');
        }

        });
    });

  

</script>

